.contents{
  background-color: #aaa;
  height: auto;
  margin: 100px 200px 200px;
  .name{
    height: 100px;
    width: 300px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    margin: auto;
  }
  .main{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    &__left{
      margin-left: 20px;
      width: 45%;
      &--bigimg {
        width: 200px;
        height: 200px;
        margin: auto;
      }
      &__list {
        display: flex;
        &--image {
          width: 20%;
          height: 20%;
        }
      }
    }
    &__right {
      &__menu {
        text-align: center;
        font-size: 30px;
      }
      margin-right: 20px;
      width: 45%;
      text-align: center;
      &__table {
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
        &--name{
          text-align: center;
        }
      }
    }
  }
  
}