<div class="contents">
  <div class="name">
    <%= @place.name %>
  </div>
  <div class="main">
    <div class="main__left", id="image"></div>
    <div class="main__right", id="menu"></div>
  </div>
</div>