<div class="contents">
  <div class="name">
    <%= @place.name %>
  </div>
  <div class="main">
    <div class="main__left", id="image"></div>
    
    <table class="main__right">
    <% @menus.each do |menu|%>
      <tr>
      <th class="main__right--name"><%= menu.name %></th>
      <td><%= menu.price %>円</td>
      </tr>
    <% end %>
    </table>
   
  </div>
</div>